<div style="background-color: blanchedalmond; margin-top: 0px;">
   
    <div class="table-position">
        <div style="margin: 10px 10px 10px 0; width: 70%;">
            <div style="display: flex;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <label for="count"> Showing {{recipesList.length/recipesList.length}}</label>
        </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cuisine</th>
                    <th scope="col">Calories Per Serving</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipe of recipesList">
                    <td>{{recipe['id']}}</td>
                    <td (click)="showDetailsInfo(recipe)" style="cursor: pointer;" title="Click here for more details">
                        <div class="d-flex align-items-center">
                            <img [src]="recipe['image']" alt="" style="width: 45px; height: 45px"
                                class="rounded-circle" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{recipe['name']}}</p>
                            </div>
                        </div>
                    </td>
                    <td>{{recipe['cuisine']}}</td>
                    <td>{{recipe['caloriesPerServing']}}</td>
                    <td>{{recipe['rating']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  [hidden]="showRecipeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img [src]="selectedRecipeItem['image']" />
                <h5 class="modal-title">{{selectedRecipeItem['name']}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal -->

<div *ngIf="showRecipeModal" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <img [src]="selectedRecipeItem['image']" />
            <h5 class="modal-title">{{selectedRecipeItem['name']}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>
  